fastapi==0.115.0
uvicorn==0.30.6
requests==2.32.3
python-dotenv==1.0.1

langchain==0.3.7
langchain-core==0.3.17
langchain-community==0.3.7
langchain-google-genai==2.0.5
langchain-text-splitters==0.3.2
langsmith==0.1.125

google-generativeai==0.8.5
google-ai-generativelanguage==0.6.15

pydantic-settings==2.4.0
